/*over-ride css*/

/*search start*/
body {
    color: #252F43;
}
h1, .h1 {
    font-size: 32px;
}
.u-header {
    border-bottom: 0;
}
.u-header-search-form {
    border-radius: 35px;
    overflow: hidden;
}
.u-header-search-form .input-group {
    position: relative;
    padding-left: 25px;
    border-radius: 35px;
    overflow: hidden;
    width: 275px;
}
.u-header-search-form .input-group ::placeholder {
    color: #D9D9D9;
}
.u-header-search__btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: rgba(255,146,4,1);
}
.input-group > .form-control:focus, .input-group > .custom-select:focus, .input-group > .custom-file .custom-file-input:focus ~ .custom-file-label {
    z-index: auto;
}






.u-sidebar-inner  {
    overflow: hidden;
}
.u-sidebar-invoker {
    color: rgba(255,146,4,1);
}
.u-sidebar-invoker:hover {
    color: #ccc;
}

.u-header-left {
    border-right: 0;
    background: #1C2434;
    padding-top: 3px;
    padding-bottom: 3px;
}

.u-header,
.u-sidebar-inner,
.u-sidebar::before {
    background-color: #252F43;
}




.u-header-search__mobile-invoker {
    color: rgba(255,146,4,1);
}



.u-sidebar-nav {
    margin-right: -10px;
}
.u-sidebar-nav-menu__link {
    color: #fff;
    border: 1px solid #ffff;
    border-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 61px;
    line-height: 61px;
}
.u-sidebar-nav-menu__link:hover {
    color: #f1f1f1;
    background: rgba(255,146,4,.5);
    border-color: rgba(255,146,4,.5);
}
.u-sidebar-nav-menu__item-arrow {
    color: #fff;
}
.u-sidebar-nav-menu__item-icon {
    color: rgba(255,146,4,.5);
    margin-right: 25px;
    
}
.u-sidebar-nav-menu__link:hover .u-sidebar-nav-menu__item-icon {
    color: rgba(255,146,4,1);
}
.u-sidebar-nav-menu__link.active,
.u-sidebar-nav-menu--top-level > .u-sidebar-nav--opened > .u-sidebar-nav-menu__link {
    color: #fff;
    background-color: rgba(255,146,4,1);
    border-color: rgba(255,146,4,1);
}
.u-sidebar-nav-menu--second-level {
    margin-left: 50px;
}
.u-sidebar-nav-menu--second-level .u-sidebar-nav-menu__link {
    height: auto;
    line-height: auto;
    border: 0;
    position: relative;
    padding: 5px;
    padding-left: 22px;
}

.u-sidebar-nav-menu--second-level .u-sidebar-nav-menu__link:hover {
    background: transparent;
    color: rgba(255,146,4,1);
}
.u-sidebar-nav-menu--second-level .u-sidebar-nav-menu__link:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    content: "";
    transition: all .2s ease-in;
}
.u-sidebar-nav-menu--second-level .u-sidebar-nav-menu__link:hover:before {
    background: rgba(255,146,4,1);
}
.u-sidebar-nav-menu--second-level .u-sidebar-nav-menu__link.active {
    color: rgba(255,146,4,1);
}
.u-sidebar-nav-menu--second-level .u-sidebar-nav-menu__link.active:before {
    background: rgba(255,146,4,1);
}
/*search end*/



.card-header-tabs .nav-link {
    font-weight: 600;
}

.table thead th {
    font-weight: 600;
}
nav.bs-pagination {
    display: inline-block !important;
}


























/*colors start*/
.text-warning {
    color: #FF9204 !important;
}
.bg-info {
    background: #2972FA !important;
}
.bg-warning {
    background: #FAB633;
}
.bg-secondary {
    background: #00C9A7 !important;
}
.btn-outline-warning {
    color: #FF9204 !important;
    border-color: #FF9204 !important;
}
.btn-outline-warning:hover {
    color: #fff !important;
}
.btn-warning {
    color: #fff;
    background: #FAB633;
    
}
.btn {
    border-radius: 45px;
    padding: 8px 25px;
}
.btn-follow 
a {
    display: inline-block;
}
hr {
    border: 0;
}
/*colors end*/
/*over-ride css*/

/*pagination start*/
.page-link {
    color: #FF9204;
}
.page-item.active .page-link {
    background-color: #FF9204;
    border-color: #FF9204;
}
.page-link:hover {
    background-color: #FF9204;
    border-color: #FF9204;
}
/*pagination end*/
.badge-warning {
    color: #fff;
}





.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
}


.bg-soft-warning {
    background: #FFE9CC;
}


/*user page*/

.user-photo-wrap {
    margin-bottom: 20px;
}

.user-identity.text-center h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

span.user-social {
    margin-top: 25px;
    display: block;
    margin-bottom: 20px;
}

span.user-social a {
    display: inline-block;
    color: #FF9204;
    margin: 0 10px;
    font-size: 17px;
}
span.scale {
    font-size: 28px;
    color: #ccc;
}

span.scale strong {
    font-size: 44px;
    color: #FF9204;
    line-height: 1;
}
.user-roles .badge  {
    padding: 0.6rem 0.85rem;
}
/*user page*/

/*settings page*/
/*form*/
.shape-pr-form {
    overflow: hidden;
}
.shape-pr-form-header {
    margin-bottom: 30px;
    margin-top: 0;
}
.shape-pr-form-header h2 {
    font-size: 32px;
}

.shape-pr-form .form-group {
    margin-bottom: 22px;
    position: relative;
}
.form-control {
    display: inline-block;
    width: auto;
}
.shape-pr-form label {
    min-width: 350px;
    margin-bottom: 0;
}
.shape-pr-form .form-control {
    width: calc(100% - 160px);
    border: 1px solid #FF9204;
    padding: 25px 30px;
    resize: none;
}


.shape-pr-form .form-control:focus {
    border: 1px solid #FF9204;
}

.shape-pr-form .custom-control-wrap {
    width: 100%;
}
.shape-pr-form .custom-control {
    display: inline-block;
    width: 33.3333%;
}
.shape-pr-form .custom-control span {
    margin-top: 0;
    font-style: normal;
}
.custom-control-label::before {
    border: 1px solid #FF9204;
    background-color: #FFE9CC; 
}
.custom-control-input.is-invalid ~ .custom-control-label {
    color: #FF9204;
}
.custom-control-input.is-invalid ~ .custom-control-label::before {
    background-color: #FFE9CC;
}
.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
    background-color: #FF9204;
}
.custom-control-label::before,
.custom-control-label::after {
    top: 0.1rem;
}
.btn.btn-warning.btn-large {
    border-radius: 3px;
}
/*form*/

/*promotion start*/
.promo-card-header h3 {
    margin-bottom: 20px;
}
.pc-list {
    margin: 0;
    padding: 0;
}
.pc-list li {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    padding-left: 10px;
}
.pc-list li:last-child {
    margin-right: 0;
}
.pc-list li:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.table.promo-table td {
    border-top: 0;
}
.promo-dot {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    font-size: 9px;
    border-radius: 50%;
}
.promo-box span {
    display: inline-block;
    margin-right: 10px;
}
.promo-box span:last-child {
    margin-right: 0;
    text-align: right;
    float: right;
}






.promo-btn-wrap {
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
}

.promo-btn-wrap .btn {
    border-radius: 4px;
}





.promo-add-btn-wrap .btn {
    padding: 8px 60px;
}
/*promotion end*/













































/*settings page*/

footer {
    display: none !important;
}

/*responsive css start*/
@media (max-width: 1200px) {
        
}

@media (max-width: 992px) {

}

@media all and (max-width: 768px) {
    .shape-pr-form .custom-control {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
    .shape-pr-form label {
        min-width: 290px;
        margin-bottom: 0;
        margin-right: 15px;
    }
    
}

@media (max-width: 767px) {
    .page-header {
        text-align: center;
    }
    .page-header .text-right {
        text-align: center !important;
    }
    .page-header h1 {
        margin-bottom: 25px;
    }
    .promo-add-btn-wrap {
        margin-bottom: 1rem;
    }
    .user-identity {
        margin-bottom: 35px;
    }
    .user-about {
        text-align: center;
    }
    .user-about p {
        text-align: justify;
    }
    .user-rating {
        margin-bottom: 60px;
    }
    .shape-pr-form .form-group {
        display: block !important;
    }
    .shape-pr-form label {
        min-width: 100%;
        display: block;
        margin-right: 0;
        margin-bottom: 18px;
    }
    .shape-pr-form .form-control {
        width: 100% !important;
        display: block;
    }
}
/*# sourceMappingURL=responsive.css.map */
/*responsive css end*/